{{!-- ASI SE MANDA A LLAMAR A UN PARCIAL O PARTICIAL --}}

{{> header }}



{{!-- ASI SE MANDA A LLAMAR A UN PARCIAL O PARTICIAL --}}
{{> navbar }}

<div class="container">
    <div class="p-3">
        <div class="row">
            <div class="col-8">
                {{!-- <h5>H</h5> --}}

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem porro, nulla corporis
                    aperiam animi dicta error laborum vel. Cumque itaque placeat natus alias rerum qui error quod maxime
                    distinctio!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem porro, nulla corporis
                    aperiam animi dicta error laborum vel. Cumque itaque placeat natus alias rerum qui error quod maxime
                    distinctio!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem porro, nulla corporis
                    aperiam animi dicta error laborum vel. Cumque itaque placeat natus alias rerum qui error quod maxime
                    distinctio!
                </p>
            </div>
            <div class="col-4">
                <img src="assets/img/io.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>



{{!-- ASI SE MANDA A LLAMAR A UN PARCIAL O PARTICIAL --}}
{{> footer }}